{% extends 'base.html' %}

{% block body %}

    <div class="inner-banner">
    </div>

    <div class="service-breadcrumb">
        <p class="service-breadcrumb-text">About Us</p>
    </div>

    <div class="about-info">
        {% load static %}<img src="{% static 'myapp/images/about.jpg' %}">
        <div class="about-paragraph">
            <h2>What is Home Run?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>


    <div class="about-mission">
        <div class="row">
            <div class="column-3">
                <img src="{% static 'myapp/images/mission1.jpg' %}"/>
            </div>
            <div class="column-3">
                <img src="{% static 'myapp/images/mission2.jpg' %}"/>
            </div>
            <div class="column-3">
                <h2>Our Mission</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>

    <div class="about-agents">
        <h2>Our Agents</h2>
        <div class="row">
            <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Parth</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
             <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Siddharth</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
             <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Neha</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
            <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Devanshi</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>

            </div>
            <div class="agents">
                <img src="{% static 'myapp/images/agent.jpg' %}"/>
                <h4 class="margin-top-10">Agent Hardik</h4>
                <h5 class="margin-top-10"><i class="fas fa-mobile-alt"></i> +1 (226) 961-4774</h5>
            </div>
        </div>
    </div>

{% endblock %}